* {
  margin: 0;
  font: 18px 'Kumbh Sans', sans-serif;
  line-height: 1.7;
  color: hsl(229, 23%, 23%);
}

body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position-x: -50%, 150%;
  background-position-y: 200%, -200%;
  background-repeat: no-repeat;
}

/* Removed to add circles as background images instead */
/* .circles {
  position: absolute;
  width: 1200px;
}

.circles:first-of-type {
  left: -40%;
  top: -80%;
}

.circles:last-of-type {
  right: -50%;
  bottom: -50%;
  overflow: hidden;
} */

.card {
  background-color: white;
  width: 350px;
  /* z-index: 0; */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -10px 10px 50px hsla(185, 74%, 18%, 0.5);

}

.card-pattern {
}

.user-image-container {
  position: absolute;
  width: 350px;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  border-radius: 50%;
  border: 5px white solid;
  width: 100px;

}

.name {
  text-align: center;
  padding: 3.75rem 0 1.25rem 0;
}

h3 {
  font-weight: 700;
}

.name span {
  color: hsl(227, 10%, 46%);
  padding-left: 5px;
}

.name p {
  color: hsl(227, 10%, 46%);
  font-size: 14px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  text-align: center;
  padding: 1.25rem 0;
}

.stat p:first-child {
  font-weight: 700;
}

.stat p:nth-child(2) {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }